#our-team {
  padding-top: 3rem;
}

#our-team .card-image {
	overflow: hidden;
}

#our-team .card {
  background-color: transparent;
  box-shadow: none;
  border-radius: 4px;
  overflow: hidden;
}

.card-name, .card-name-title{
  text-align: center;
}

h5 {
	font-weight: 700;
	color: #535454;
	line-height: 1.5;
}

.title--tw{
	font-size: 1.5em;
	line-height: 1.5;

}

.contents--tw{
	font-size: 1.2em;
	line-height: 1.8;
}

.card-name{
font-size: 1.2em;
margin-bottom: 0 !important;
font-weight: 400;
color: #454545;

}
.card-name-title{
margin-top: 0 !important;
height: 80px;
font-weight: 300;
color: #757575;
line-height: 1.5;
}

/*#our-team img:hover {
	transform: scale(1.1);
	-webkit-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#our-team img {
	-webkit-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}*/