#tagline {
	font-weight: 200;
	line-height: 1.2;
	letter-spacing: 1px;
}

#index-form {
  /*margin: 0 20%;*/
  padding: 0;
}

#index-contact-banner {
  background-image: url("../images/01_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#index-contact-banner h3,
#index-form .content {
  color: white;
}

#showcase {
	margin-left: 30px;
}

#index-form .content {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
  padding: 0 1rem;
  box-sizing: border-box;
}

#index-form .btn-large {
  padding: 0;
}

#index-form .waves-button-input {
  height: 100%;
  width:100%;
}
