#feedback-modal {
  width: 60%;
}

/*Sections*/

.fullscreen{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  /*background-color: #333;*/
}

#background-1{
  background: url(../images/02_cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#background-2{
  background: url(../images/02_give_feedback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#image-1{
  background: url(../images/02_contribute_all.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

#image-2{
  background: url(../images/02_contribute.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
}

.banner .projects-input,
.banner .projects-textarea {
  border: 1px solid #5CC7B9 !important;
  box-sizing: border-box;
  transition: none;
  color: #333;
}

.banner .projects-input:focus:not([readonly]),
.banner .projects-textarea:focus:not([readonly]) {
  border-bottom: 2px;
  box-shadow: unset;
}

.banner .projects-input {
  padding: 0 1rem;
  /*margin-bottom: 2px;*/
}

.banner .input-field {
	margin-top: 0px;
}

.banner .projects-textarea {
  padding: 1rem;
  margin-top: 16px;
  min-height: 7rem;
}

.banner .set-margin {
	margin-top: 3px !important;
	margin-bottom: 38px !important;
}

.projects-textarea.set-margin {
	margin-bottom: 36px !important;
}

.form-submit .btn-large {
  padding: 0;
}

.form-submit .waves-button-input {
  height: 100%;
  width:100%;
}

::-webkit-input-placeholder {
	color: #aaa;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
}
