
#app-navbar nav {
  height: 64px !important;
}

#app-navbar .container {
  position: static;
}

#app-navbar h3 {
  color: white;
  text-align: center;
  margin-top: 18px;
}

#back-btn {
  position: absolute;
  padding: 0 1rem 0;
  top: 0;
  left: 0;
}

#sensors-location-map {
  width: 100%;
}

#sensor-data-chart-container {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#sensor-information {
  padding: 2em 0;
  background-color: #fafafa;
}

#sensor-information a {
  color: #87D9D1;
}

#sensor-information a:hover {
  color: #1CBCAD;
}

#sensor-information [data-status="low"] {
  color: green;
}

#sensor-information [data-status="moderate"] {
  color: gold;
}

#sensor-information [data-status="high"] {
  color: red;
}

#sensor-information [data-status="extreme"] {
  color: purple;
}


#sensor-chart {
  padding: 1em;
}

#map-container {
  position: relative;
}

#sensor-data-chart-container,
#sensors-location-map,
#map-container {
  height: 100%;
}

.fullscreen {
  height: calc(100% - 64px);
}

.pm25-value h1 {
  vertical-align: sub;
}

.pm25-value > * {
  display: inline;
}

#status-container {
  display: block;
  margin-top: 0;
}

.description-container {
  padding: 0.5rem 2rem;
}

.description-container .info-icon,
.description-container .update-time-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

.description-container .info-icon {
  background-image: url("../images/info.png");
}

.description-container .update-time-icon {
  background-image: url("../images/update-time.png");
}
