
#app-navbar {
  height: 64px;
}

#app-navbar nav {
  height: 64px !important;
  line-height: 64px !important;
}

#app-navbar .container {
  position: static;
}

#app-navbar h3 {
  color: white;
  text-align: center;
  margin-top: 18px;
  font-size: 18pt;
  font-weight: normal;
}

.nav-btn {
  position: absolute;
  padding: 0 1rem 0;
  top: 0;
}

.nav-btn,
.nav-btn > .material-icons {
  height: 64px;
  line-height: 64px;
}

#back-btn {
  left: 0;
}

#list-btn,
#map-btn {
  right: 0;
}

#map-btn > .map-icon {
  width: 28px;
  height: 56px;
  margin-top: 3px;
  background-image: url("../images/icon_map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#list-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

#sensors-location-map {
  width: 100%;
}

#sensor-data-chart-container {
  position: absolute;
  z-index: 10;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
}

#sensor-information {
  padding: 2.5em 0 2em 0;
  background-color: #fafafa;
}

#sensor-information h3,
#sensor-information span {
  color: #8a8a8a;
}

#sensor-information .name {
  color: #5f5f5f;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#sensor-information p {
  margin: 0 0 0.5rem;
}

#sensor-information a {
  color: #87D9D1;
}

#sensor-information a:hover {
  color: #1CBCAD;
}




#sensor-chart {
  padding: 1em;
}

#map-container {
  position: relative;
}

#sensors-location-map,
#map-container {
  height: 100%;
}

.fullscreen {
  height: calc(100% - 64px);
}

.pm25-value h1 {
  vertical-align: sub;
  font-size: 5em;
}

.pm25-value h3 {
  font-weight: 100;
  font-size: 1.8em;
}

.pm25-value > * {
  display: inline;
}

#status-container {
  display: block;
  margin-top: 0;
}

.description-container {
  padding: 0.5rem 1rem;
}

.description-container p{
  line-height: 1.5;
}


.description-container .info-icon,
.description-container .update-time-icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

#sensor-list {
  margin: 0;
}

#sensor-list li {
  position: relative;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

#sensor-list li > * {
  pointer-events: none;
}


#sensor-list .info {
  width: calc(100% - 9rem);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sensor-list .name {
  color: #535353;
  font-size: 1.2rem;
}

#sensor-list .name,
#sensor-list .description {
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sensor-list .description {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #8e8e8e;
}

#sensor-list .description span {
  padding: 0 0.5rem 0 0.2rem;
}

#sensor-list .index {
  position: absolute;
  right: 0;
  top: 30px;
  width: 10rem;

  padding: 0.5rem 1rem 0 1rem;
  text-align: right;
}

#sensor-list .index > * {
  display: inline;
  color: #535353;
}

#sensor-list .value {
  font-size: 2.2rem;
  font-weight: 400;
  margin-right: 4px;
}

#sensor-list .unit {
  font-size: 1.2rem;
}

/* Navbar button control */
[data-type="map"] #back-btn,
[data-type="map"] #map-btn,
[data-type="list"] #back-btn,
[data-type="list"] #list-btn,
[data-type="detail"] #map-btn,
[data-type="detail"] #list-btn {
  display: none;
}

[data-type="map"] #list-btn,
[data-type="list"] #map-btn,
[data-type="detail"] #back-btn {
  display: block;
}

#sensor-information [data-status="low"],
#sensor-list [data-status="low"] {
  color: #60CC4A;
}

#sensor-information [data-status="moderate"],
#sensor-list [data-status="moderate"] {
  color: #F1BE4A;
}

#sensor-information [data-status="high"],
#sensor-list [data-status="high"] {
  color: #FF6360;
}

#sensor-information [data-status="extreme"],
#sensor-list [data-status="extreme"] {
  color: #D95AF9;
}
