#feedback-nav {
  height: 100%;
  padding: 2%;
}

#feedback-modal {
  overflow: hidden;
}

#sensors-location-map {
  height: 750px;
  width: 100%;
}

#sensor-data-chart-container {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#sensor-information {
  padding: 2em;
  /*background-color: #fff;*/
}

#sensor-information a {
  color: #87D9D1;
}

#sensor-information a:hover {
  color: #1CBCAD;
}

#sensor-information [data-status="low"] {
  color: #60CC4A;
}

#sensor-information [data-status="moderate"] {
  color: #F1BE4A;
}

#sensor-information [data-status="high"] {
  color: #FF6360;
}

#sensor-information [data-status="extreme"] {
  color: #D95AF9;
}

#sensor-information [data-status="invalid"] {
  color: gray;
}

#sensor-chart {
  padding: 2em;
}

#map-container {
  position: relative;
}

#chart-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  padding: 0px;
  box-shadow: none;
}

#chart-close-btn:hover{
  background-color: #20BBAD !important;
}

#contributor .card {
  border-radius: 4px;
  overflow: hidden;
}

#contributor .card-title{
  font-size: 1em;
}

#join-project {
    background-color: #f7f7f7;
}

.project-info {
  text-align: right;
  color: #666;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.8;
  /*font-weight: 500;*/
}

@media only screen and (max-width: 992px) {
  .project-info {
    text-align: left;
  }
}

/* Sensor Info*/

.name {
  font-weight: 700;
  color: #454545;
  font-size: 1.8em;
  margin-bottom: 0px;
}

#sensor-information .description {
  font-size: 1.1em;
  color: #222;
  margin-bottom: 36px;
}

#sensor-information p{
  font-size: 1em;
  color: #757575;
}

#sensor-information .info {
  margin: 0px;
}

#sensor-information .value{
  font-size: 4em;
  font-weight: 700;
}
#sensor-information .status{
  font-weight: 700;
}

#contributor-name {
  font-size: 1.2em;
  color: #454545;
}
