/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, body{
  height: 100%;
  font-size: 12pt;
}

nav{
  border-top: 2px #FFF solid;
  z-index: 1000 !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  height: 66px !important;
}

nav ul a,
nav .brand-logo {
  color: #FFF;
}

nav li a{
  padding: 0 22px 0 22px;
}

#arrow {
  margin-left: 5px;
  font-size: 1.2rem;
}

.brand-logo {
  font-size: 1.5em !important;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1.2px; 
}

.teal {
  background-color: #5cc7b8 !important;
}

.banner {
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
}

#index-banner {
  height: 555px;
}

.tagline {
  color: #FFF;
  font-weight: 100;
  font-size: 1.2em;
}

#what {
  padding-top: 40px;
}

.place-image {
  display: block;
  background-color: #ccc;
  width: 90%;
  height: 350px;
  margin: auto;
  margin-top: 20px;
}




/*Typography*/


p {
  line-height: 2rem;
  color: #333;
}

h2 {
  font-size: 3.2em;
  letter-spacing: 1.5px;
}

h3, h4 {
  margin-bottom: 40px;
  color: #454545;
  font-size: 2em;
  font-weight: 500;
}

.dropdown-content{
  width: 200px !important;
  margin-top:65px;
  z-index: 1;
}

.contents{
  font-size: 1.25em;
  line-height: 1.6;
  font-weight: 300;
  color: #757575;
  text-align: left;
}

.contents a {
  color: #87D9D1;
}

.contents a:hover {
  color: #1CBCAD;
}

.text-white {
  color: #FFF;
}
/*Footer*/

.page-footer a{
  /*font-weight: 300;*/
}
.page-footer li a:hover{
  opacity: 0.6;
}

.white-text.head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.page-footer {
  background-color: #222 !important;
}

.page-footer .container {
  padding: 40px 0 40px 0;
}


/*Button*/

.btn-large {
  height: 55px;
  width: 160px;
  text-align: center;
  border-radius: 55px !important;
  text-transform: capitalize;
  font-size: 1.1em;
  background-color: #5cc7b8;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
}

.btn-large:hover{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
}
/*
.button-collapse {
  color: #26a69a;
}*/

/*Parallax*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}


@media only screen and (max-width : 992px) {
  .place-image {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .banner, #what {
    text-align: center;
  }
}
@media only screen and (min-width : 992px) {

  .image-right {
    float: right;
  }

  .image-left {
    float: left;
  }

}

@media only screen and (max-width : 600px) {
  /*#index-banner .section {
    top: 0;
  }*/
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo-mozilla {
  margin-top: 4px;
  display: block;
  width: 96px;
  height:26px;
}

#tabzilla a{
  text-indent: 170%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 147px;
  height: 36px;
  background-image: url("../images/tabzilla-static.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  z-index: 2;
}

#tabzilla a:hover{
  background-color: rgba(0,0,0,0);
}

