/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #4d4d4c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

code {
  padding: 0.5em;
  background: #F8F8F8;
}

.docs {
  padding: 3rem 0;
}

.docs ul li {
  list-style-type: disc;
  margin-left: 1em;
}

h2:before, h3:before {
  content:"";
  display:block;
  height:90px; /* fixed header height*/
  margin:-90px 0 0;
}

.toc {
  height: 1px;
  white-space: nowrap;
}

.toc .collection {
  display: inline-block;
}

hr {
  width: 100%;
  border-top: 1px solid #ddd; 
  border-left: 1px solid #ddd; 
  border-bottom: 1px solid #eee; 
  border-right: 1px solid #eee; 
}