#user-projects .card-image {
  background-image: url("../images/02_cover.jpg");
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

#user-projects .card {
	border-radius: 4px;
	overflow: hidden;
}

#sensor-list .title {
  line-height: 36px;
}

.user-name {
	font-size: 1.5em;
	color: #454545;
	margin-top: 24px;
	margin-bottom: 6px;
	/*line-height: 1.0;*/
	font-weight: 400;
}

.user-id {
	font-size: 1.2em;
	color: #757575;
	/*line-height: 1.0;*/
	font-weight: 300;
	margin-top: 0px !important;
}

.user-info {
	line-height: .1em;
}

.user-description {
	margin-top: 30px;
	color: #757575;
	line-height: 1.6;
}

#user-card {
	padding-right: 30px;
}

#user-card .card {
	border-radius: 4px !important;
	overflow: hidden;
}

#add-device {
	display: none;
	background-color: #5BA4C7;
}

#add-device:hover {
	background-color: #3990B2;
}

.collection-item {
	line-height: 36px !important;
	color: #333 !important;
}

a.collection-item:hover {
	background-color: #EFF8F7 !important;
}

.collection-item.title{
	color: #979797 !important;
	list-style: none;
	font-weight: 700;
}
/*@media only screen and (min-width: 993px) {
	#user-details {
		padding-bottom: 265px;
	}*/


#project-names {
	font-size: 1.2em;
	color: #454545;
}
